<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Save to Tab Buddy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionActivationRule</key>
		<string>SUBQUERY(extensionItems, $item, SUBQUERY($item.attachments, $att, ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "com.adobe.pdf" OR ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "public.plain-text" OR ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "com.gamicarts.tabbuddy.guitar-pro.gp3" OR ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "com.gamicarts.tabbuddy.guitar-pro.gp4" OR ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "com.gamicarts.tabbuddy.guitar-pro.gp5" OR ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "com.gamicarts.tabbuddy.guitar-pro.gpx" OR ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "com.gamicarts.tabbuddy.guitar-pro.gp").@count &gt; 0).@count &gt; 0</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ShareViewController</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.gamicarts.tabbuddy.guitar-pro.gp3</string>
			<key>UTTypeDescription</key>
			<string>Guitar Pro (GP3)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gp3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.gamicarts.tabbuddy.guitar-pro.gp4</string>
			<key>UTTypeDescription</key>
			<string>Guitar Pro (GP4)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gp4</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.gamicarts.tabbuddy.guitar-pro.gp5</string>
			<key>UTTypeDescription</key>
			<string>Guitar Pro (GP5)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gp5</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.gamicarts.tabbuddy.guitar-pro.gpx</string>
			<key>UTTypeDescription</key>
			<string>Guitar Pro (GPX)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.gamicarts.tabbuddy.guitar-pro.gp</string>
			<key>UTTypeDescription</key>
			<string>Guitar Pro (GP)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
